
body {
  font-family: Arial, Helvetica, sans-serif;
}

.card-grid1 {
  display: flex;
  flex-wrap: wrap;
  gap: 60px; 
  justify-content: center; 
  padding: 20px;
}

.flip-card1 {
  background-color: transparent;
  width: 400px;
  height: 350px;
  perspective: 1000px;
}

.flip-card-inner1 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card1:hover .flip-card-inner1 {
  transform: rotateY(180deg);
}

.flip-card-front1, .flip-card-back1{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front1{
  background-color: #bbb;
  color: black;
}

.flip-card-back1 {
  background-color: #bdc6cb;
  color: white;
  transform: rotateY(180deg);
}

h1, h3 {
  text-align: center;
  margin: 20px 0;
}
