/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
}

/* Navbar Brand */
.navbar-brand {
  display: flex;
  align-items: center;
}

/* Navbar Links */
.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-link {
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}

/* Navbar Profile */
.navbar-profile {
  position: relative;
}

.profile-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-username {
  color: #fff;
  margin-bottom: 10px;
}

.logout-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.MuiDrawer-paper {
  width: 240px; 
  box-sizing: border-box;
  background-color: #0073cf; 
  color: #fff;
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color:#0073cf; 
}

.MuiListItemButton-root:hover {
  background-color: #0073cf; 
}

.MuiListItemText-primary {
  color: #fff;
}
